In [2]:
import numpy as np
import pandas as pd

In [3]:
# Auto Insurance Data
df = pd.DataFrame({
    'MaleAR': [
        132,
        95,
        73,
        65,
        53,
        51,
        50,
        47,
        47,
        38,
        42,
        47,
        48
    ],
    'FemaleAR': [
        72,
        50,
        38,
        36,
        41,
        33,
        36,
        25,
        27,
        30,
        19,
        32,
        35
    ]
}, columns=['MaleAR', 'FemaleAR'])

df.index = [
        'Under 20',
        '20-24',
        '25-29',
        '30-34',
        '35-39',
        '40-44',
        '45-49',
        '50-54',
        '55-59',
        '60-64',
        '65-69',
        '70-74',
        '75 & Over'
    ]
df

           MaleAR  FemaleAR
Under 20      132        72
20-24          95        50
25-29          73        38
30-34          65        36
35-39          53        41
40-44          51        33
45-49          50        36
50-54          47        25
55-59          47        27
60-64          38        30
65-69          42        19
70-74          47        32
75 & Over      48        35

In [4]:
# Insurance Premium Form (avg cost * rate) / exposure units
df['MalePP'] = (df.MaleAR * 5000) / 1000
df['FemalePP'] = (df.FemaleAR * 5000) / 1000
df

           MaleAR  FemaleAR  MalePP  FemalePP
Under 20      132        72   660.0     360.0
20-24          95        50   475.0     250.0
25-29          73        38   365.0     190.0
30-34          65        36   325.0     180.0
35-39          53        41   265.0     205.0
40-44          51        33   255.0     165.0
45-49          50        36   250.0     180.0
50-54          47        25   235.0     125.0
55-59          47        27   235.0     135.0
60-64          38        30   190.0     150.0
65-69          42        19   210.0      95.0
70-74          47        32   235.0     160.0
75 & Over      48        35   240.0     175.0