In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame({
    'Name': [
        'Irma',
        'Ian',
        'Wilma',
        'Frances',
        'Jeanne',
        'Charley',
        'Ivan',
        'Michael'
    ],
    'IHP': [
        1020976908.08,
        917127545.87,
        342259581.97,
        411815685.98,
        398618731.65,
        208970753.97,
        164509853.53,
        149572302.29
    ],
    'Year': [
        '2017-09-10',
        '2022-09-29',
        '2005-10-24',
        '2004-09-04',
        '2004-09-26',
        '2004-08-13',
        '2004-09-16',
        '2018-10-11'
    ],
    'Wind speed kt': [
        100,
        125,
        105,
        90,
        105,
        130,
        105,
        140
    ],
    'Affected Counties': [
        67,
        77,
        20,
        67,
        53,
        67,
        45,
        18
    ]
}, columns=['Name', 'IHP', 'Year', 'Wind speed kt', 'Affected Counties', 'Rainfall', 'Building Code'])
data.set_index('Name', inplace=True)

In [3]:
declarations = pd.read_csv('gatorcain_data/declarations_clean_data.csv')

# Get disaster Number

In [4]:
declarations = declarations[declarations['declarationType'] == 'DR']
declarations.set_index('disasterNumber', inplace=True)
declarations['Affected Counties'] = declarations['designatedArea'].str.count(',') + 1
declarations = declarations.drop('declarationType', axis=1)
declarations

,declarationDate,declarationTitle,designatedArea,Affected Counties
disasterNumber,,,,
1539,2004-08-13 00:00:00+00:00,TROPICAL STORM BONNIE AND HURRICANE CHARLEY,"Franklin (County),Wakulla (County),Hendry (Cou...",67
1545,2004-09-04 00:00:00+00:00,HURRICANE FRANCES,"Sarasota (County),Nassau (County),Okeechobee (...",67
1551,2004-09-16 00:00:00+00:00,HURRICANE IVAN,"Jackson (County),Wakulla (County),Washington (...",45
1561,2004-09-26 00:00:00+00:00,HURRICANE JEANNE,"Marion (County),Hernando (County),Palm Beach (...",53
1595,2005-07-10 00:00:00+00:00,HURRICANE DENNIS,"Calhoun (County),Gadsden (County),Wakulla (Cou...",20
1602,2005-08-28 00:00:00+00:00,HURRICANE KATRINA,"Santa Rosa (County),Escambia (County),Miami-Da...",11
1609,2005-10-24 00:00:00+00:00,HURRICANE WILMA,"Brevard (County),Hendry (County),DeSoto (Count...",20
1806,2008-10-27 00:00:00+00:00,HURRICANE GUSTAV,"Santa Rosa (County),Gulf (County),Okaloosa (Co...",6
4084,2012-10-18 00:00:00+00:00,HURRICANE ISAAC,"Escambia (County),St. Lucie (County),Okaloosa ...",12
4280,2016-09-28 00:00:00+00:00,HURRICANE HERMINE,"Marion (County),Levy (County),Gadsden (County)...",26
4283,2016-10-08 00:00:00+00:00,HURRICANE MATTHEW,"Brevard (County),Flagler (County),Lake (County...",18
4337,2017-09-10 00:00:00+00:00,HURRICANE IRMA,"Liberty (County),Lee (County),Columbia (County...",67
4341,2017-09-27 00:00:00+00:00,HURRICANE IRMA - SEMINOLE TRIBE OF FLORIDA,"Big Cypress Indian Reservation,Hollywood India...",6
4399,2018-10-11 00:00:00+00:00,HURRICANE MICHAEL,"Leon (County),Bay (County),Liberty (County),Ga...",18
4468,2019-10-21 00:00:00+00:00,HURRICANE DORIAN,"Broward (County),Nassau (County),Palm Beach (C...",14
4564,2020-09-23 00:00:00+00:00,HURRICANE SALLY,"Calhoun (County),Gadsden (County),Gulf (County...",14
4673,2022-09-29 00:00:00+00:00,HURRICANE IAN,"Jefferson (County),Sumter (County),Gilchrist (...",77
4675,2022-09-30 00:00:00+00:00,HURRICANE IAN - SEMINOLE TRIBE OF FLORIDA,"Big Cypress Indian Reservation,Brighton Indian...",7
4680,2022-12-13 00:00:00+00:00,HURRICANE NICOLE,"Hendry (County),Hernando (County),Bradford (Co...",63

# Getting The number of claims per city

# Claims ihp sum per county

In [66]:
broward_miami_claims = pd.read_csv('gatorcain_data/broward_miami_claims.csv')

frances_claims = broward_miami_claims[broward_miami_claims['disasterNumber'] == 1545]

# calc sum for broward
broward_frances = frances_claims[frances_claims['county'] == 'Broward (County)']
# calc sum for miami
miami_frances = frances_claims[frances_claims['county'] != 'Broward (County)']

print(broward_frances['ihpAmount'].sum(), miami_frances['ihpAmount'].sum())

wilma_claims = broward_miami_claims[broward_miami_claims['disasterNumber'] == 1609]

# calc sum for broward
broward_wilma = wilma_claims[wilma_claims['county'] == 'Broward (County)']
# calc sum for miami
miami_wilma = wilma_claims[wilma_claims['county'] != 'Broward (County)']

print(broward_wilma['ihpAmount'].sum(), miami_wilma['ihpAmount'].sum())

irma_claims = broward_miami_claims[broward_miami_claims['disasterNumber'] == 4337]

# calc sum for broward
broward_irma = irma_claims[irma_claims['county'] == 'Broward (County)']
# calc sum for miami
miami_irma = irma_claims[irma_claims['county'] != 'Broward (County)']

print(broward_irma['ihpAmount'].sum(), miami_irma['ihpAmount'].sum())

14356737.84 31230442.14
118113978.73 92792494.99
106264061.92 223355515.32

In [68]:
miami_irma.shape

(178791, 6)

In [70]:
broward_wilma.shape

(86034, 6)

In [71]:
broward_miami_claims['damagedCity'].value_counts()

MIAMI              150173
FORT LAUDERDALE     29814
HIALEAH             28692
HOLLYWOOD           19211
HOMESTEAD           18428
                    ...
Weston                  1
MIRA MAR                1
SPRING HILL             1
CARAL SPRING            1
PEMBROKE PINE           1
Name: damagedCity, Length: 388, dtype: int64

In [72]:
broward_miami_claims.loc('damagedCity')

KeyError: 'POM BEACH'

In [75]:
miami_frances.shape

(12932, 6)